h1 {
     display: center flex;
}

#links
{
     align-self: right;
     display: flexbox;
}

#banner img{
     max-width: 100%;
}

#welcome {
     width: 100%;
     position: relative;
     padding: 75px;
     text-align: center;
     font-size: 30px;
}

footer
{
    align-content:center;
    display: flexbox;
    align-self: center;
}

.textSearch
{
    display: flexbox;
    align-content:center;
}

#recommended {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.card {
     width: 500px;
     margin: 25px;
}

.card-img-top {
     min-height: 300px;
}

.card-text {
     font-weight: bold;
}



