h1 {
  display: center flex;
}

#links
{
     align-self: right;
     display: flexbox;
}

footer
{
    align-content:center;
    display: flexbox;
    align-self: center;
}

.textSearch
{
    display: flexbox;
    align-content:center;
}

#recommended {
     position: relative;
    display: flex;
}

.card {
     position: relative;
     display: flex;
     justify-content: space-between;
}

