header {
     z-index: 2;
     position: fixed;
     width: 100%;
}

h1 {
     display: center flex;
}

h2 {
     font-size: 45px;
}

#links
{
     align-self: right;
     display: flexbox;
}

#banner img{
     max-width: 100%;
}

#welcome {
     width: 100%;
     position: relative;
     padding: 75px;
     text-align: center;
     font-size: 30px;
}

footer
{
    text-align: center; 
    position: relative;
    bottom: 0px;
}

.textSearch
{
    display: flexbox;
    align-content:center;
}

#btnContainer {
     width: 100%;
     padding: 25px;
     text-align: center;
}

#searchBtn {
     background-color: #51299c;
     color: white;
     padding: 20px;
     width: 150px;
     font-size: 20px;
}

#results h2 {
     text-align: center;
     background-color: #51299c;
     color: white;
     padding: 5px;
}

#weather-results {
     position: absolute;
     right: 0px;
     width: 300px;
}

.activity-container {
     position: relative;
     left: 0px;
     width: 800px;
}

.container {
     position: relative;
     display: flex;
     width: 100%;
     background-color: white;
     border-radius: 15px;
}

#results {
     position:relative;
     width: 100%;
}

#recommended {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
}

.card {
     width: 500px;
     margin: 25px;
}

.card:hover {
     transform: translateY(-5px);
     box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);

}

.card-img-top {
     min-height: 300px;
}

.card-text {
     font-weight: bold;
}

.hidden {
     display: none;
}



